<div class="container mt-5 mb-5 p-5 bg-white rounded shadow">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_row(form.dateLivraison) }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form_row(form.client) }}
        </div>
    </div>
    <div class="text-end">
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    </div>
    {{ form_end(form) }}
</div>
