{% extends 'base.html.twig' %}

{% block title %}BonLivraison index{% endblock %}

{% block body %}
    <h1>Bons de Livraison</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>DateLivraison</th>
                <th>MontantTotal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bon_livraison in bon_livraisons %}
            <tr>
                <td>{{ bon_livraison.id }}</td>
                <td>{{ bon_livraison.client.name }}</td>
                <td>{{ bon_livraison.dateLivraison|date('d/m/Y') }}</td>
                <td>{{ bon_livraison.montantTotal }}</td>
                <td>
                    <a href="{{ path('app_bon_livraison_show', {'id': bon_livraison.id}) }}">voir</a>
                    <a href="{{ path('app_bon_livraison_edit', {'id': bon_livraison.id}) }}">modifier</a>
                    {{ include('bon_livraison/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">pas de bon de livraison trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_bon_livraison_new') }}">Créer un nouveau bon de livraison</a>
{% endblock %}
