{% extends 'base.html.twig' %}

{% block title %}BonLivraison{% endblock %}

{% block body %}
    <h1>BonLivraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bon_livraison.id }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ bon_livraison.client.name }}</td>
            </tr>
            <tr>
                <th>DateLivraison</th>
                <td>{{ bon_livraison.dateLivraison ? bon_livraison.dateLivraison|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MontantTotal</th>
                <td>{{ bon_livraison.montantTotal }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
    <tbody>
       <th>Produit</th>
       <th>Quantite</th>
       <th>PrixUnitaire</th>
       <th>remise</th>
       <th>Montant</th>

        {% for ligne in bon_livraison.ligneBons %}

            <tr>
                <td>{{ ligne.produit.name }}</td>
                <td>{{ ligne.quantity }}</td>
                <td>{{ ligne.prixUnitaire }} €</td>
                <td>{{ ligne.remise }} €</td>
                <td>{{ ligne.total }} €</td>
            </tr>
        {% endfor %}
       <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ bon_livraison.montantTotal }} €</td>
        </tr>
    </tbody>
</table>




    <a href="{{ path('app_bon_livraison_edit', {'id': bon_livraison.id}) }}">edit</a>

    {{ include('bon_livraison/_delete_form.html.twig') }}


{% endblock %}
